
<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">


        <p class="navbar-header pull-left">
            <a class="navbar-brand">
                MovieTalks!
            </a>
        </p>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#/:uid/movies">My likes</a>
                </li>
                <li>
                    <a class="page-scroll" href="#/profile">Profile</a>
                </li>
                <li>
                    <a class="page-scroll" href="#/">Not you? Sign out</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->

        <!-- /.navbar-collapse -->

    </div>
</nav>
<!--Header End-->

<div class="container">
    <h1>review list</h1>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/search">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


