<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <div class="col-xs-12 col-sm-8">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/profile" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a href="#/website/new" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </p>
        </div>
    </div>
        </div>
</nav>
<div class="container list-container">

    <div class="col-xs-12 col-sm-8">
         <ul class="list-group">
             <li ng-repeat="website in model.websites" class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                {{website.name}}
            </a>
            <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
     </ul>
    </div>
    {{model.websites}}
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">

        <p class="row navbar-text">

            <p class="navbar-text pull-right">
                <a href="#/profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>

</nav>

