

<nav class="navbar navbar-default navbar-fixed-top page-container">
    <div class="container-fluid ">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/website" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="#/website/page/new" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container list-container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#/website/page/widget">
                Blog Post
            </a>
            <a href="#/website/page/edit" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/website/page/widget">
                Blogs
            </a>
            <a href="#/website/page/edit" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/website/page/widget">
                Home
            </a>
            <a href="#/website/page/edit" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/website/page/widget">
                About
            </a>
            <a href="#/website/page/edit" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>

        <li class="list-group-item">
            <a href="#/website/page/widget">
                Contact Us
            </a>
            <a href="#/website/page/edit" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom page-container-user">
    <div class="container">
        <p class="row navbar-text">
        <p class="navbar-text pull-right">
            <a href="#/profile">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
    </div>
</nav>

