


<div class="container">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input class="form-control"id="text"placeholder="text">
        </div>
        <div class="form-group">
            <label for="URL">URL</label>
            <input ng-model="model.widget.url"type="text" class="form-control" id="URL"placeholder="url">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width"type="text" class="form-control" id="width" placeholder="width">
        </div>
    </form>
    <strong>File Upload</strong>
    <form action="/api/upload"  method="post" enctype="multipart/form-data"><!--generate a post to the entire url-->
        <input  name="myFile"   type="file" class="form-control"/>
        <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
        <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
        <input  name="userId" value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId" value="{{model.pageId}}"   style="display: none"/>
        <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
    </form>
        <!--<div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile">
        </div>-->

    <!--<a class="btn btn-primary  btn-block"
       href="widget-list.view.client.html">Upload Image</a>-->
    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWidget()">Delete</a>
</div>


