
<div class="container">

    <form novalidate name="model.myForm">
        <span ng-show="model.myForm.name.$invalid">
            <h6>{{model.alert}}</h6>
        </span>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name" type="text" name="name" class="form-control" id="name" placeholder="" required>
        </div>
        <span ng-show="model.myForm.text.$invalid">
                <h6>{{model.alert}}</h6>
        </span>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" name="text" class="form-control"id="text" required>
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <input ng-model="model.widget.size"type="text" class="form-control" id="size" value="3">
        </div>
    </form>
    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWidget()">Delete</a>
</div>

