
<div class="container">
    <form novalidate name="model.myForm">
        <div class="form-group">
             <span ng-show="model.myForm.name.$invalid">
            <h6>{{model.alert}}</h6>
            </span>
            <label for="name">Name</label>
            <input ng-model="model.widget.name" type="text" name="name" class="form-control" id="name" placeholder="" required>
        </div>

        <div ng-model="model.widget.text"
             text-angular
             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
        </div>

    </form>
    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWidget()">Delete</a>
</div>


