
<nav class="navbar navbar-default navbar-fixed-top page-container">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Wiget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>
        </div>

    </div>
</nav>


<div class="container">
  
    <form>
        <div ng-if='model.widget'>
        <div ng-include="'views/widget/widget-'+model.widget.type+'.view.client.html'">
        </div>
          </div>

    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom page-container-user">
    <div class="container">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>

</nav>
